
<h1> Links </h1>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url %>
      <% @tags_names = []
      link.tags.each do |tag|
        @tags_names << tag.name
      end %>

      Tag:   <%= @tags_names.join(', ') %>
    </li>
  <% end %>
</ul>
